@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 36px;
    text-emphasis: bold;
    line-height: 1.25;
    text-align: left;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    text-emphasis: bold;
    line-height: 1.25;
    color: #243e63;
}

h5 {
    color: #6415FF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

h6 {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}

p {
    line-height: 1.5;
    font: 16px;
    color: #243e63;
    font-weight: 500;
}

button {
    cursor: no-drop;
}

input:focus {
    outline: none;
}

.container {
    padding: 96px 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background-color: #7342d6;
    color: #fff;
    width: fit-content;
    padding: 12px 32px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border-radius: 9999px;
    border: none;
    font-weight: 700;
}

.section__title {
    text-align: left;
    font-weight: 900;
    font-size: 48px;
    margin-top: 16px;
}

.highlighted__text {
    color: #7342d6;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 32px 32px 0 32px;
}

.nav__link--end,
.nav__link {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #243e63;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--end {
    margin-left: 24px;
}

.nav__link--primary {
    border: #7342d6 solid 2px;
    border-radius: 9999px;
    color: white;
    background-color: #7342d6;
    padding: 12px 32px;
}

/* twoColumns */

.two-columns {
    width: 100%;
    display: flex;
}

.description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.heading__coloumn {
    max-width: 420px;
}

.para__column {
    margin: 32px 0;
}

.input__column--container {
    border: #243e6366 solid 2px;
    border-radius: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input__column {
    border: none;
    font-size: 16px;
    color: #243e6366;
    padding: 20px 192px 20px 32px;
    width: 100%;
    background: none;
    font-weight: 500;
}

.btn__two-columns {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translateX(2px);
}

.strip__column {
    margin-top: 80px;
}

.p__strip {
    font-size: 12px;
    color: #A0AEC0;
}

.img__strip {
    margin-top: 16px;
    padding-right: 64px;
    opacity: 0.5;
}

.img__wrapper--qualityWork,
.img__wrapper--column {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
}

/* features */

.features__description--container,
.pricing__description--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__subtitle,
.pricing__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
}

.features__title,
.pricing__title {
    width: 100%;
    text-align: center;
}

.features__para,
.pricing__para {
    margin-top: 16px;
    text-align: center;
    width: 100%;
    max-width: 580px;
    color: #7c8ba1;
    font-size: 18px;
}

.features__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 32px;
    justify-content: center;
}

.features__item {
    padding: 32px 8px;
    margin: 0 12px;
    width: calc(100% / 3.5);
    display: flex;
}

.text__container {
    margin-top: 8px;
    margin-left: 16px;
}

.item__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
}

.item__description {
    margin-top: 16px;
    text-align: left;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;

}

.img__container {
    border: #e5e7eb 1px solid;
    border-radius: 100%;
    height: fit-content;
}

.item__img {
    padding: 20px;
    font-size: 24px;
    color: #6415FF;
}

/* qualityWork */

.qualityWork__container {
    display: flex;
    justify-content: center;
}

.qualityWork__text--container {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-right: 56px;
}

.qualityWork__para {
    margin-top: 16px;
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

.qualityWork__btn {
    margin-top: 32px;
}

.img__wrapper--qualityWork {
    width: 50%;
    display: flex;
    align-items: center;
}

.qualityWork__img {
    border: #e5e7eb solid 1px;
    border-radius: 4px;
}

/* steps */

.steps__wrapper {
    display: flex;
    justify-content: center;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__text--wrapper {
    width: 50%;
    padding: 48px 0;
    margin-left: 72px;
}

.steps__item {
    display: flex;
    margin-top: 32px;
    max-width: 400px;
}

.steps__number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;

}

.steps__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.steps__item--para {
    margin-top: 12px;
    color: #7c8ba1;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5;
}

/* values */

.values__container {
    display: flex;
}

.values__text--container {
    width: 50%;
    margin-right: 72px;
}

.values__para {
    margin-top: 32px;
    color: #7c8ba1;
    text-align: left;
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
}

.values__item--container {
    display: flex;
    width: 100%;
}

.values__item {
    margin-top: 32px;
    margin-right: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.item-2 {
    margin-right: 0;
}

.values__item--header {
    display: flex;
    align-items: center;
}

.values__item--img-1,
.values__item--img-2 {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__item--img-1 {
    background-color: #a8e9a8;
}

.values__item--img-2 {
    background-color: #eea9a9;
}

.values__img-1,
.values__img-2 {
    font-size: 20px;
    padding: 10px;
}

.values__img-1 {
    color: #017801;
}

.values__img-2 {
    color: #d40404;
}

.values__item--title {
    font-weight: 900;
    margin-left: 12px;
}

.values__item--para {
    margin-top: 16px;
    color: #7c8ba1;
    text-align: left;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

.values__img--wrapper {
    display: flex;
    align-items: center;
    width: 60%;
}

/* pricing */

.pricing__item--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pricing__item-1,
.pricing__item-2,
.pricing__item-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    padding: 8px 32px;
    border-radius: 10px;
}

.pricing__item-1 {
    margin-top: 72px;
    margin-right: 32px;
}

.pricing__item-1--decoration {
    width: 100%;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__item-2 {
    margin-top: 72px;
}

.pricing__item-2--white {
    color: #F7FaFC !important;
}

.pricing__item-2--background {
    width: 100%;
    padding-top: 10px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 10px;
}

.pricing__item-3 {
    margin-top: 72px;
    margin-left: 32px;
}

.pricing__item-3--decoration {
    width: 100%;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__item--header,
.pricing__item--features {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    width: 100%;
}

.pricing__item--features {
    border-top: #c1c8d4 solid 2px;
    border-bottom: #c1c8d4 solid 2px;
}

.pricing__item--title {
    color: #1A202c;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing__item--price {
    color: #1A202c;
    font-size: 48px;
    font-weight: 900;
    margin: 4px 0;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing__item--subtitle {
    color: #A0AEC0;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing__item--feature {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #718096;
}

.pricing__item--button {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pricing-1__btn,
.pricing-2__btn,
.pricing-3__btn {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 100%;
    max-width: 200px;
    padding: 16px 32px;
    border-radius: 9999px;
    border: none;
}

.pricing-1__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: #F7FaFC;
}

.pricing-2__btn {
    background: #F7FaFC;
    color: #6415FF;
}

.pricing-3__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #F7FaFC;
}

/* testimonials */

.testimonials__container {
    display: flex;
    width: 100%;
}

.testimonials__img--container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__text--container {
    width: 50%;
    padding-left: 64px;
    justify-content: left;
}

.testimonials__para {
    text-align: left;
    color: #7c8ba1;
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
}

.review__container {
    margin-top: 32px;
}

.star {
    margin-right: 4px;
    color: #e3e329;
}

.review__title {
    margin-top: 16px;
}

.review__para {
    margin-top: 16px;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #4a5568;
}

.review__control {
    display: flex;
    justify-content: space-between;
}

.review__control-left {
    display: flex;
}

.review__control--img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
}

.review__control-left__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    width: fit-content;
}

.review__control-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-left,
.scroll-right {
    margin: 0 16px;
    padding: 16px;
    border-radius: 100%;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 16px;
    color: #6415FF;
}

.review__divider {
    height: 20px;
    width: 1px;
    background-color: #A0AEC0;
}

/* faq */

.faq__description--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.faq__para {
    max-width: 480px;
    margin-top: 16px;
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.questions__contianer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-top: 16px;
}

.question__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 16px 40px;
    background-color: #EDF2F7;
    font-size: 18px;
    font-weight: 500;
    color: #2D3748;
}

.question__answer--wrapper {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
}

.question__button:hover {
    background-color: #cbd5e0;
}